.idea
.DS_Store
.conda
launch.json
dataset/
wandb/
SINR/
__pycache__
lightning_logs/
experiment/
SINR-src/
figure/
temp_agent/
*.out
era5_SR_temparature/
era5_SR_geopotential/
geopotential/
geo_agent/
temperature/
temp_agent/
*.sh
ERA5_SR/
*.ckpt
*.png