von_mises_output/
output/
.idea
.DS_Store
.conda
launch.json
dataset/
harmonics_output/
wandb/
SINR/
__pycache__
lightning_logs/
experiment/
SINR-src/
figure/
temp_agent/
*.out
era5_SR_temparature/
era5_SR_geopotential/
geopotential/
geo_agent/
temperature/
temp_agent/
final_superres/
ERA5_SR/
*.ckpt
*.png
*.jpg
bash_denoising/
bash_superres/
flickr_agent/
flickr_best/
runs/geo/
runs/temp/
sweep/
temporal_geopotential.sh
temporal_temperature.sh
230909/
generate_2.sh
dataset2
my_script
src/datasets/temporal_ginr_copy.py
.gitignore
src/models/swinr2.py
src/models/shiren2.py
src/models/ginr2.py
